<div class="w-100 h-100 bg-info">
  <div class="col-3"></div>
  <div class="col-auto">
    <h1 class="text-center p-5 mt-2 text-white">Welcome to NotebookShare</h1>
  </div>
  <div class="col-3"></div>

  <div class="row">
    <div class="col-3"></div>
    <form class="bg-white w-100 p-5 mtb-6 login col-6 container-vertical">
      <h2 class="nsh">Log in to continue:</h2>
      <mat-form-field class="w-50 p-3">
        <input matInput type="text" placeholder="your username" #username class="nsh txt-big"/>

      </mat-form-field>
      <button mat-button-flat class="bg-info col-2 p-2 nsh text-white text-2 lead btn-lg rounded-lg float-none" >Log in</button>
      <h2 class="nsh m-5">... Or add yourself as a new user </h2>
      <button mat-button-flat class="bg-info col-3 p-2 nsh text-white text-2 lead btn-lg rounded-lg float-none" >Add new user</button>
    </form>
    <div class="col-3"></div>
  </div>
</div>
