<div class="container p-2">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title class="nsh">{{note.title}}</mat-card-title>
      <mat-card-subtitle>
        noteId: {{note.id}}
      </mat-card-subtitle>

    </mat-card-header>
    <div>
      <mat-chip-list #taglist>

        <div *ngFor="let tag of profile.tagsDirective">
          <mat-chip *ngIf="tag.noteId==note.id">
              #{{tag.tag}}
          </mat-chip>
        </div>

      </mat-chip-list>
    </div>
    <mat-card-content class="bg-info rounded text-white font-4 nsh">
      {{note.note}}
    </mat-card-content>
    <mat-card-actions *ngIf="note.user_id == profile.user.id">
      <button mat-button (click)="deleteNote()">Delete</button>
      <button mat-button (click)="openEditNoteDialog()">Edit</button>
    </mat-card-actions>
  </mat-card>


</div>
