@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

.nsh {
  font-family: 'Gloria Hallelujah', cursive;
}

.search-bar {
  color:black;
}
.icon-display {
  transform: scale(2);
}
