<div class="row bg-info nsh txt-big">
  <div class="col w-100 p-3">
    <form class=" form-inline mr-3 d-none d-md-flex ml-lg-auto col-auto">
      <div class="mb-0" [ngClass]="{ focused: focus === true }">
        <div>
          <input class="form-control" name="searchquery" (keydown.enter)="search()" [(ngModel)]="searchText" placeholder="Search" type="text" (focus)="focus = true" (blur)="focus = false" />
          <span></span>
          <button mat-icon-button class="bg-info color-white" (click)="search()">
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-3 p-3">
    <span></span>
  </div>
  <div class="col p-3">
    <mat-slide-toggle class="pr-1" name="advanced-search" [color]="color" [(ngModel)]="advanced_search" [ngModelOptions]="{standalone: true}">advanced search</mat-slide-toggle>
    <mat-slide-toggle name="exact-match" [color]="color" [(ngModel)]="exactMatch" [ngModelOptions]="{standalone: true}">exact match</mat-slide-toggle>

  </div>
  <div class="col p-3 position-static" *ngIf="advanced_search">
    <p>search By</p>
    <div>
      <mat-slide-toggle name="by-user" *ngIf="!byTitle && !byCategory && !byContent" [color]="color" [(ngModel)]="byUser" [ngModelOptions]="{standalone: true}">Creator Of Note</mat-slide-toggle>
      <mat-slide-toggle class="pr-3" name="by-title" *ngIf="!byUser && !byCategory && !byContent" [color]="color" [(ngModel)]="byTitle" [ngModelOptions]="{standalone: true}">Title</mat-slide-toggle>
    </div>
    <div>
      <mat-slide-toggle name="by-cat" *ngIf="!byTitle && !byUser && !byContent" [color]="color" [(ngModel)]="byCategory" [ngModelOptions]="{standalone: true}">Category</mat-slide-toggle>
      <mat-slide-toggle name="by-content" *ngIf="!byTitle && !byUser && !byCategory" [color]="color" [(ngModel)]="byContent" [ngModelOptions]="{standalone: true}">Content</mat-slide-toggle>
    </div>
  </div>
</div>
<div class="row container-fluid">
  <div *ngFor="let note of filteredNotes">
    <app-notes [note]="note" [users]="users" [tags]="assignments" [myNotes]="false" ></app-notes>
  </div>
</div>
